[user]
    name = sqdnoises
    email = 85015626+sqdnoises@users.noreply.github.com
    signingkey = /home/sqd/.ssh/id_ed25519.pub
[init]
    defaultBranch = main
[alias]
    amend = commit --amend
[color]
    ui = auto  # Enable colored output
[gpg]
    format = ssh
[commit]
    gpgsign = true
[format]
  pretty = "format:%C(yellow)commit [%C(brightyellow)%h%C(yellow)]%C(auto)%d %C(brightblue)%ar (%ai)%nby%C(#ed55de)% G? %C(brightgreen)%aN <%ae>%n%C(#f25a5a)>>> %C(reset)%s%n"
